streamlit==1.39.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.4.2
matplotlib==3.7.4
seaborn==0.13.2
tensorflow==2.13.0
protobuf==4.25.3
pydeck==0.8.1b0
altair==5.4.1
requests==2.31.0
tqdm==4.66.2
